{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: WCT Services{% endblock %}
{% block pageTitle %}<i class="ri-dashboard-2-line"></i> WCT Services{% endblock %}

{% block content %}
    <div class="row">   
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row form-group input-group"></div>
                            
                    <div class="row">
                    {% for ps in paidServices %}
                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">{{ ps.title }}</h5>
                                <div class="card-body p-0">
                                    <div class="row">&nbsp;</div>
                                    
                                    <div class="row  text-center">
                                        <div class="col-lg-12 col-lg-offset-1">
                                            <span>{{ ps.description | raw }}</span>
                                        </div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                    
                                    <div class="row  text-center">
                                        <div class="col-lg-12 col-lg-offset-1">
                                            <span>20 EUR/Month *</span>
                                        </div>
                                    </div>

                                    <div class="row  text-center">
                                        <div class="col-lg-12 col-lg-offset-1">
                                            {#
                                            <select>
                                            {% for ps_sp in ps.subscriptionPeriods %}
                                                <option>{{ ps_sp.subscriptionPeriod }}  {{ ps_sp.price }}  {{ ps_sp.currencyCode }}</option>
                                            {% endfor %}
                                            </select>
                                            #}
                                        </div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                    <div class="row  text-center">
                                        <div class="col-lg-12 col-lg-offset-1">
                                            <a href="javascript:void(0);" class="btn btn-primary">Purchase</a>
                                        </div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                </div>
                                <div class="card-footer text-center">
                                    <a href="#" class="btn-primary-link">{# View Details #}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    
                    <div class="row form-group input-group"></div>
                </div>
            </section>
        </div>
    </div>                    
{% endblock %}

{% block modals %}
    {% include 'Modals/browser.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/browser', null, 'WebContentThief' ) }}
    {{ encore_entry_script_tags( 'js/projects-edit', null, 'WebContentThief' ) }}
{% endblock %}
