{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% set hasChilds = false %}
    {% for parentItem in item.children %}
        {% if parentItem is not empty %}
            {% set hasChilds = true %}
        {% endif %}
    {% endfor %}

    <!-- sidebar menu start-->
    <ul class="navbar-nav flex-column">
        <li class="nav-divider">
            {{ 'vs_application.menu.menu' | trans( {},'VSApplicationBundle' ) }}
        </li>
        
        {% for parentItem in item.children %}
            
            {% if( parentItem.displayed ) %}
        
                {# Detect Current Parent #}
                {% set isCurrentParent = false %}
                {% if ( parentItem.hasChildren ) %}
                    {% for childItem in parentItem.children %}
                        {% if childItem.isCurrent %}
                            {% set isCurrentParent = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                <li class="nav-item ">
                    <a class="nav-link menu-link {% if isCurrentParent %}active{% endif %}"
                        {% if(parentItem.hasChildren) %}
                        	data-bs-toggle="collapse"
                        	{% if isCurrentParent %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %}
                        	data-bs-target="#submenu-{{ loop.index }}"
                        	aria-controls="submenu-{{ loop.index }}"
                        {% endif %}
                     	href="{{ parentItem.uri }}"
                     >
                         {% if parentItem.attributes and parentItem.attributes.iconClass %}
                            <i class="{{ parentItem.attributes.iconClass }}"></i>
                         {% endif %}
                            <span data-key="t-{{ parentItem.name }}">{{ parentItem.name }}</span>
                        {% if(parentItem.hasChildren) %}
                            <!--  <span class="menu-arrow arrow_carrot-right"></span> -->
                        {% endif %}
                    </a>
                    {% if(parentItem.hasChildren) %}
                        <div id="submenu-{{ loop.index }}"
                            class="collapse submenu {% if isCurrentParent %}show{% endif %}"
                        >
                        	<ul class="nav flex-column">
                                {% for childItem in parentItem.children %}
                                    {% if( childItem.displayed ) %}
                                        <li class="nav-item">
                                            <a class="nav-link {% if childItem.isCurrent %}active{% endif %}"
                                                href="{{ childItem.uri }}"
                                            >
                                                {{ childItem.name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                        	</ul>
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <!-- sidebar menu end-->
{% endblock %}
