<div class="modal fade" id="modalDeployerProgress" tabindex="-1" 
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" 
>
    <div class="modal-dialog" role="document" style="max-width: 1400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'vs_wct.template.deployer' | trans( {},'WebContentThief' ) }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ 'vs_application.form.close' | trans( {},'VSApplicationBundle' ) }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start( deployerForm, { 'attr': {'class': 'form-horizontal', 'id': 'formDeployData'} } ) }}
                    {{ form_widget(deployerForm.projectId, {'value': item.id}) }}
                    {{ form_widget(deployerForm.repertoryId) }}
                    
                    <div class="form-row mb-2">
                        <div class="col-sm form-group">
                            {{ form_label(deployerForm.apiHost, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(deployerForm.apiHost, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    
                    <div class="form-row mb-2">
                        <div class="col-sm form-group">
                            {{ form_label(deployerForm.mapper, null, {
                                'label_attr': {'class': 'col-form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(deployerForm.mapper, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    
                {{ form_end(deployerForm, {'render_rest': false}) }}
                
                <div id="consoleDeployer" class="col-sm-12 console border border-dark" style="margin: 20px 0 20px 0; padding: 10px 15px 10px 15px; display: none">
                    <div id="consoleDeployerBody" style="height: 200px; overflow: scroll;"></div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnRunDeployer">
                    {{ 'vs_wct.template.deploy_repertory_items' | trans( {},'WebContentThief' ) }}
                </button>
                <button type="button" class="btn btn-primary" id="btnRunDownloader">
                    {{ 'vs_wct.template.download_repertory_items' | trans( {},'WebContentThief' ) }}
                </button>
                <button type="button" class="btn btn-primary" id="btnRunDeleter">
                    {{ 'vs_wct.template.delete_repertory_items' | trans( {},'WebContentThief' ) }}
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseDeployerProgress">
                    {{ 'vs_application.form.close' | trans( {},'VSApplicationBundle' ) }}
                </button>
            </div>
        </div>
    </div>
</div>
