{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_wct.template.project_repertory_preview_title' | trans( {},'WebContentThief' ) }}{% endblock %}
{% block pageTitle %}<i class="fas fa-project-diagram"></i> {{ 'vs_wct.template.project_repertory_preview_title' | trans( {},'WebContentThief' ) }}{% endblock %}

{% block content %}
    <div class="row mb-2">   
        <div class="col-lg-12">
            <a class="btn btn-primary" href="{{ path('vs_wct_projects_update', {'id': repertory.project.id}) }}">
                {{ 'vs_wct.template.return_to_project' | trans( {},'WebContentThief' ) }}
            </a>
        </div>
    </div>
    
    <div class="row">   
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row form-group input-group"></div>
                            
                    <div class="row">
                    {% for item in repertory.items %}
                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="float-start">
                                        {{ 'vs_wct.template.repertory_item' | trans( {},'WebContentThief' ) }} {{ loop.index }}
                                    </h5>
                                    <div class="float-end">
                                        <a class="btn btn-danger btnDeleteResource" 
                                            href="{{ path('vs_wct_project_delete_repertory_item', {'id': item.id}) }}"
                                            data-csrfToken="{{ csrf_token( item.id ) }}"
                                            data-redirectUrl="{{ path( 'vs_wct_project_preview_repertory', {'id': repertory.id} ) }}"
                                            title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
                                        >
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 450px;">
                                    
                                {% for field in item.fields %}
                                    <div class="row">
                                        <div class="col-lg-3 border-right">
                                            {{ field.projectField.title }}:
                                        </div>
                                        <div class="col-lg-9 col-lg-offset-1">
                                        {% if field.projectField.type == 'text' %}
                                            <span>{{ field.content | raw }}</span>
                                        {% elseif field.projectField.type == 'link' %}
                                            <span>
                                                <a href="{{ field.content }}">{{ field.content | raw }}</a>
                                            </span>
                                        {% elseif field.projectField.type == 'picture' %}
                                            <span>
                                                {% if field.repertoryFieldFile %}
                                                    <img src="{{ field.repertoryFieldFile.path | imagine_filter( 'repertory_field_file' ) }}" alt="{{ field.repertoryFieldFile.originalName }}" width="244" height="244" />
                                                {% else %}
                                                    <img src="{{ field.content }}" alt="{{ field.content }}" width="244" height="244" />
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                    
                                </div>
                                <div class="card-footer text-center">
                                    <a href="#" class="btn-primary-link">{# View Details #}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    
                    <div class="row form-group input-group"></div>
                    <div class="row form-group input-group"></div>
                </div>
            </section>
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags( 'js/repertory-preview', null, 'WebContentThief' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/repertory-preview', null, 'WebContentThief' ) }}
{% endblock %}
