{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if item.id %}{% set formMethod = 'PUT' %}{% else %}{% set formMethod = 'POST' %}{% endif %}
{{ form_start(form, { 'attr': {'class': 'form-horizontal '}, 'method': formMethod }) }}
    {% if form_errors(form) is not empty %}
        <div class="alert alert-block alert-danger fade in">
            <button type="button" class="close close-sm" data-bs-dismiss="alert">
                <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.title, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
     
    <div class="form-group">
        {{ form_label(form.category, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.url, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        <div class="input-group mb-3">
            {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
            <div class="input-group-append">
                <button type="button" id="btnBrowseListingUrl"
                    class="btn btn-primary ml-2 btnBrowseUrl"
                    data-bs-toggle="modal" data-bs-target="#modalBrowser"
                >{{ 'vs_wct.template.browse_url' | trans( {},'WebContentThief' ) }}</button>
                {% if detailsUrl %}
                    <button type="button" id="btnBrowseDetailsUrl"
                        class="btn btn-primary ml-2 btnBrowseDetails"
                        data-bs-toggle="modal" data-bs-target="#modalBrowser"
                        data-url="{{ detailsUrl }}"
                    >{{ 'vs_wct.template.browse_details' | trans( {},'WebContentThief' ) }}</button>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="form-group">
        {{ form_label(form.listingContainerElement, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.listingContainerElement, {'attr': {'class': 'form-control'}}) }}
        
        <p>{{ 'vs_wct.template.listing_container_element_description' | trans( {},'WebContentThief' ) }}</p>
    </div>
    
    <div class="form-group">
        {{ form_label(form.detailsLink, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.detailsLink, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.pagerLink, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.pagerLink, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <fieldset class="border border-dark rounded p-3" id="fieldsetProjectListingFields">
        <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_wct.template.listing_page_fields' | trans( {},'WebContentThief' ) }}</legend>
        
        <div class="fieldsContainer"
            data-prototype="{% apply escape %}
                {% include 'Pages/Projects/Partial/add-field-prototype.html.twig' with {'form': form.listingFields.vars.prototype} %}
            {% endapply %}"
        >
            {% for field in form.listingFields %}
                {% include 'Pages/Projects/Partial/add-field-prototype.html.twig' with {'form': field} %}
            {% endfor %}
        </div>
    </fieldset>
    <div class="row">&nbsp;</div>
    
{% if detailsUrl %}
    <fieldset class="border border-dark rounded p-3" id="fieldsetProjectDetailsFields">
        <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_wct.template.details_page_fields' | trans( {},'WebContentThief' ) }}</legend>
        
        <div class="fieldsContainer"
            data-prototype="{% apply escape %}
                {% include 'Pages/Projects/Partial/add-field-prototype.html.twig' with {'form': form.detailsFields.vars.prototype} %}
            {% endapply %}"
        >
            {% for field in form.detailsFields %}
                {% include 'Pages/Projects/Partial/add-field-prototype.html.twig' with {'form': field} %}
            {% endfor %}
        </div>
    </fieldset>
    <div class="row">&nbsp;</div>
{% endif %}
    
    {{ vs_form.buttons( form ) }}
{{ form_end(form, {'render_rest': false}) }}