{% extends "layout.html.twig" %}

{% block head_styles %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/browser') }}
{% endblock %}

{# Import Macros #}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block title %}{{ parent() }} :: Edit Project{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> Edit Project{% endblock %}
{% block content %}
    <div class="row">   
        <div class="col-lg-12">
            {% if(item.getId()) %}

                <section class="panel">
                    <div class="panel-body">
                        <a class="btn btn-primary btnRunProject" data-resourceId="{{ item.getId() }}" 
                           href="{{ path('ia_web_content_thief_parser_run_project', {'projectId': item.getId()}) }}">
                            Run Project
                        </a>
                        <a class="btn  btn-warning btnPreviewProject" data-resourceId="{{ item.getId() }}" href="javascript:;">
                            Preview Project
                        </a>
                        <a class="btn  btn-danger btnCopyProject" data-resourceId="{{ item.getId() }}" href="javascript:;">
                            Copy Project
                        </a>
                    </div>
                </section>
            {% endif %}
            {{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
            {{ form_widget(form._token) }}

            {% if form_errors(form) is not empty %}
                <div class="alert alert-block alert-danger fade in">
                    <button type="button" class="close close-sm" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>
                    <strong>Error!</strong> {{ form_errors(form) }}
                </div>
            {% endif %}

            <section class="panel">
                <header class="panel-heading"> Edit Project </header>
                <div class="panel-body">
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#homeTab" role="tab" aria-controls="home" aria-selected="true">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profileTab" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contactTab" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="homeTab" role="tabpanel" aria-labelledby="home-tab">ААААААААААААААААААААААААААААА</div>
                      <div class="tab-pane fade" id="profileTab" role="tabpanel" aria-labelledby="profile-tab">БББББББББББББББББББББББББББББ</div>
                      <div class="tab-pane fade" id="contactTab" role="tabpanel" aria-labelledby="contact-tab">ФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФ</div>
                    </div>
                
                </div>
            </section>

            {{ form_widget(form.btnSave, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
            {{ form_widget(form.btnCancel, {'attr': {'class': 'btn btn-default', 'id':'btnCancel'}}) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div> 
{% endblock %}

{% block endDocumentScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/jquery-duplicate-fields.js') }}"></script>
    
    <!-- USE BELOW SCRIPT FOR DEVELOPEMENT 
    <script type="text/javascript" src="{{ asset('build/projects-edit.js') }}"></script>
    -->
    <script type="text/javascript" src="{{ asset('assets/projects-edit.js') }}"></script>
    
{% endblock %}

