{% extends "layout.html.twig" %}

{% block head_styles %}
    {{ parent() }}
    {{ encore_entry_link_tags( 'css/browser', null, 'new-template' ) }}
{% endblock %}

{# Import Macros #}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block title %}{{ parent() }} :: Edit Project{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> Edit Project{% endblock %}
{% block content %}
    <div class="container-fluid  dashboard-content">
    	<!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">{% if(item.getId()) %}Edit:	{{ item.getTitle() }}{% else %}Create New Project{% endif %}</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                    	<nav aria-label="breadcrumb">
                            {{ knp_menu_render('breadcrumbs', {'template': 'menu/breadcrumb.html.twig'}) }}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        
        <div class="row">
        	{% if(item.getId()) %}
                <section class="panel">
                    <div class="panel-body">
                        <a class="btn btn-primary btnRunProject" data-resourceId="{{ item.getId() }}" 
                           href="{{ path('ia_web_content_thief_parser_run_project', {'projectId':item.getId()}) }}">
                            Run Project
                        </a>
                        <a class="btn  btn-warning btnPreviewProject" data-resourceId="{{ item.getId() }}" href="javascript:;">
                            Preview Project
                        </a>
                        <a class="btn  btn-danger btnCopyProject" data-resourceId="{{ item.getId() }}" href="javascript:;">
                            Copy Project
                        </a>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateProject">Create New Project</button>
                    </div>
                </section>
            {% endif %}
        </div>
        
        <div class="row">&nbsp;</div>
        
        <div class="row">
            <!-- ============================================================== -->
            <!-- basic tabs  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                	<h5 class="card-header">Project Details</h5>
                	<div class="card-body">
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
                            {{ form_widget(form._token) }}
                
                            {% if form_errors(form) is not empty %}
                                <div class="alert alert-block alert-danger fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert">
                                        <i class="icon-remove"></i>
                                    </button>
                                    <strong>Error!</strong> {{ form_errors(form) }}
                                </div>
                            {% endif %}
        				    
        				    
        				    <div class="form-group">
                                {{ form_label(form.enabled, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                          
                                {{ form_widget(form.enabled, {'attr': {'class': 'ml-2'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_label(form.title, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                            	{{ form_label(form.parseMode, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                {{ form_widget(form.parseMode, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                            	{{ form_label(form.parseCountMax, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                {{ form_widget(form.parseCountMax, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_label(form.url, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
            				<div class="row form-group input-group"></div>
            				<div class="row form-group input-group"></div>
            				
            				
            				<div class="text-right fieldset-project-fields-button">
        				        <button type="button" class="btn btn-primary btnOpenBrowser"
        				        	data-toggle="modal" data-target="#modalBrowser"
        				        >Browser</button>
        				    </div>
							<fieldset  class="fieldset-project-fields">
            					<legend class="w-auto">Project Fields</legend>
            				    
                                <div class="form-group">
                                    {{ form_label(form.detailsLink, null, {
                                        'label_attr': {'class': 'col-form-label'}
                                        }) 
                                    }}
                                    {{ form_widget(form.detailsLink, {'attr': {'class': 'form-control'}}) }}
                                </div>
        
                                <div class="form-group">
                                    {{ form_label(form.pagerLink, null, {
                                        'label_attr': {'class': 'col-form-label'}
                                        }) 
                                    }}
                                    {{ form_widget(form.pagerLink, {'attr': {'class': 'form-control'}}) }}
                                </div>
        
        						<div class="row form-group input-group"></div>
                                
                                <fieldset  class="fieldset-project-fields-additional">
            						<legend class="w-auto">Additional Fields for Listing Pages</legend>
            						
	                                <div class="fieldsContainer" 
	                                    data-prototype="{% filter escape %}{% include 'pages/Projects/Form/Collection/project-field.html.twig' with {'form': form.listingFields.vars.prototype} %}{% endfilter %}"
	                                    id="fieldsListingContainer"
	                                >
	                                    {% for field in form.listingFields %}
	                                        {% include 'pages/Projects/Form/Collection/project-field.html.twig' with {'form': field} %}
	                                    {% endfor %}
	                                </div>
	                            </fieldset>
                            	
                            	<div class="row form-group input-group"></div>
                            	
                            	<fieldset  class="fieldset-project-fields-additional">
            						<legend class="w-auto">Additional Fields for Details Pages</legend>
            						
	                                <div class="fieldsContainer" 
	                                    data-prototype="{% filter escape %}{% include 'pages/Projects/Form/Collection/project-field.html.twig' with {'form': form.detailsFields.vars.prototype} %}{% endfilter %}"
	                                    id="fieldsDetailsContainer"
	                                >
	                                    {% for field in form.listingFields %}
	                                        {% include 'pages/Projects/Form/Collection/project-field.html.twig' with {'form': field} %}
	                                    {% endfor %}
	                                </div>
	                            </fieldset>
	                            
	                            <div class="row form-group input-group"></div>
	                            
	                            <div class="form-group">
                                    <div class="input-group">
                                    	<div class="col-sm-1">
	                                    	{{ form_label(form.addFieldset, null, {'label_attr': {'class': 'col-form-label'}}) }}
		                                </div>
                                    	<div class="col-lg-6">
                                        	{{ form_widget(form.addFieldset.fieldset, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-lg-2">
                                        	{{ form_widget(form.addFieldset.destination, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-lg-2">
                                        	{{ form_widget(form.addFieldset.button, {'attr': {'class': 'btn btn-primary', 'data-getFieldsUrl': path('ia_web_content_fieldset_fields')}}) }}
                                        </div>
                                    </div>
                                </div>
                   			</fieldset>
                   			
                   			<div class="row">&nbsp;</div>
                   			
                   			
                
                			<div class="row">&nbsp;</div>
                			<div class="input-group row">
                				<div class="col-sm-1">
                                    {{ form_widget(form.btnSave, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
                                </div>
                                
                                {{ form_widget(form.btnCancel, {'attr': {'class': 'btn btn-default', 'id':'btnCancel'}}) }}
                            </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block modals %}
    {% include 'pages/Projects/Modals/browser.html.twig' %}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'jquery-duplicate-fields', null, 'new-template' ) }}
    {{ encore_entry_script_tags( 'projects-edit', null, 'new-template' ) }}
{% endblock %}

