{% extends "layout.html.twig" %}

{% block head_styles %}
    {{ parent() }}
    {{ encore_entry_link_tags( 'css/browser', null, 'new-template' ) }}
{% endblock %}

{# Import Macros #}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block title %}{{ parent() }} :: Edit Project{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> Edit Project{% endblock %}
{% block content %}
    <div class="container-fluid  dashboard-content">
    	<!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">{% if(item.getId()) %}Edit:	{{ item.getTitle() }}{% else %}Create New Project{% endif %}</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                    	<nav aria-label="breadcrumb">
                            {{ knp_menu_render('breadcrumbs', {'template': 'menu/breadcrumb.html.twig'}) }}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        
        <div class="row">
        	{% if(item.getId()) %}
                <section class="panel">
                    <div class="panel-body">
                        <a class="btn btn-primary btnRunProject" data-resourceId="{{ item.getId() }}" 
                           href="{{ path('ia_web_content_thief_parser_run_project', {'projectId':item.getId()}) }}">
                            Run Project
                        </a>
                        <a class="btn  btn-warning btnPreviewProject" data-resourceId="{{ item.getId() }}" href="javascript:;">
                            Preview Project
                        </a>
                        <a class="btn  btn-danger btnCopyProject" data-resourceId="{{ item.getId() }}" href="javascript:;">
                            Copy Project
                        </a>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateProject">Create New Project</button>
                    </div>
                </section>
            {% endif %}
        </div>
        
        <div class="row">&nbsp;</div>
        
        <div class="row">
            <!-- ============================================================== -->
            <!-- basic tabs  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                	<h5 class="card-header">Project Details</h5>
                	<div class="card-body">
                	
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
                            {{ form_widget(form._token) }}
                
                            {% if form_errors(form) is not empty %}
                                <div class="alert alert-block alert-danger fade in">
                                    <button type="button" class="close close-sm" data-dismiss="alert">
                                        <i class="icon-remove"></i>
                                    </button>
                                    <strong>Error!</strong> {{ form_errors(form) }}
                                </div>
                            {% endif %}
        						
                            <div class="form-group">
                                {{ form_label(form.title, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                            	{{ form_label(form.parseCountMax, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                {{ form_widget(form.parseCountMax, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
    						<div class="input-group mb-3">    
                                {{ form_label(form.enabled, null, {
                                    'label_attr': {'class': 'col-form-label'}
                                    }) 
                                }}
                                <div class="col-lg-10">
                                    <div class="checkbox">
                                        {{ form_widget(form.enabled) }}
                                    </div>
                                </div>
                            </div>
            				
							<fieldset  class="fieldset-project-fields">
            					<legend class="w-auto">Listing Page Fields</legend>
            				
                            	<div class="form-group">
                            		
                            		{% set url=item.getUrl() %}
                                    {% if(url is empty) %}
                                        {% set url='#' %}
                                    {% endif %}
                                    {{ form_label(form.url, null, {
                                        'label_attr': {'class': 'col-form-label'}
                                        }) 
                                    }}
                                    <div class="input-group mb-3">
                                         
                                        {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                
                                        <div class="col-sm-1">
                                        	<button type="button" class="btn btn-primary btnBrowse" 
                                        		data-toggle="modal" data-target="#modalBrowser" 
                                        		data-browserUrl="{{ url('ia_web_content_thief_browser_browse') }}" 
                                        		data-urlInput="#project_url"
                                        		data-fields="{{ listingFieldsDef }}"
                                        	>
                                        		Browse
                                        	</button>
                                        </div>
        							</div>									
                    			</div>
                    			
                                <div class="form-group">
                                    {{ form_label(form.detailsLink, null, {
                                        'label_attr': {'class': 'col-form-label'}
                                        }) 
                                    }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.detailsLink, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    {{ form_label(form.pagerLink, null, {
                                        'label_attr': {'class': 'col-form-label'}
                                        }) 
                                    }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.pagerLink, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
        
                                
                                <div class="form-group">
                                    {{ form_label(form.fieldsetListing, null, {
                                        'label_attr': {'class': 'col-form-label'}
                                        }) 
                                    }}
                                    <div class="input-group">
                                        {{ form_widget(form.fieldsetListing, {'attr': {'class': 'form-control'}}) }}
        								<div class="col-sm-1">
                                        	<input class="btn btn-primary" id="btnAddFieldsListing" type="button" value="Add Fields" data-resourceId="{{ item.getId() }}" data-addFieldsUrl="{{ path('ia_web_content_projects_add_fields') }}" />
                                    	</div>
                                    </div>
                                </div>
                                
                                <div class="fieldsContainer" data-prototype="{% filter escape %}{% include 'pages/Projects/Form/Collection/project-field.html.twig' with {'form': form.listingFields.vars.prototype} %}{% endfilter %}">
                                    {% for field in form.listingFields %}
                                        {% include 'pages/Projects/Form/Collection/project-field.html.twig' with {'form': field} %}
                                    {% endfor %}
                                </div>
                            	
                   			</fieldset>
                   			
                   			<div class="row">&nbsp;</div>
                   			
                   			<fieldset  class="fieldset-project-fields">
                    			<legend class="w-auto">Details Page Fields</legend>        	
                                            
                            	{% if(item.getId()) %}
                            
                                	{{ form_label(form.detailsPage, null, {
                                        	'label_attr': {'class': 'col-form-label'}
                                        }) 
                                    }}
                            		<div class="input-group mb-3">
                                        
                                        
                                        {{ form_widget(form.detailsPage, {'attr': {'class': 'form-control'}}) }}
        
                                        <div class="input-group-append col-sm-1">
                                        	<button type="button" class="btn btn-primary btnBrowse" 
                                        		data-toggle="modal" 
                                        		data-target="#modalBrowser" 
                                        		data-browserUrl="{{ url('ia_web_content_thief_browser_browse') }}" 
                                        		data-urlInput="#project_detailsPage" 
                                        		data-browserFrame="#remoteBrowser"
                                        		data-fields="{{ detailsFieldsDef }}"
                                        	>	
                                        		Browse
                                        	</button>
                                        </div>
        							</div>
        							
        							
            
                                    <div class="col-sm-1">&nbsp;</div>
            
                                    <div class="col-sm-12" style="margin: 20px 0 20px 0;">
                                        <div id="loader">
                                            <div class="d-flex justify-content-center">
                                                <div class="spinner-border" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                {% endif %}
                                   
                                <div class="form-group">
                                    {{ form_label(form.fieldsetDetails, null, {
                                        'label_attr': {'class': 'col-form-label'}
                                        }) 
                                    }}
        
        							<div class="input-group">
                                        {{ form_widget(form.fieldsetDetails    , {'attr': {'class': 'form-control'}}) }}
            
        
                                        <div class="col-sm-1">
                                            <input class="btn btn-primary" id="btnAddFieldsDetails" type="button" value="Add Fields" data-resourceId="{{ item.getId() }}" data-addFieldsUrl="{{ path('ia_web_content_projects_add_fields') }}" />
                                        </div>
                                    </div>
                                </div>
                                    
                                <div class="fieldsContainer" data-prototype="{% filter escape %}{% include 'pages/Projects/Form/Collection/project-field.html.twig' with {'form': form.detailsFields.vars.prototype} %}{% endfilter %}">
                                    {% for field in form.detailsFields %}
                                        {% include 'pages/Projects/Form/Collection/project-field.html.twig' with {'form': field} %}
                                    {% endfor %}
                                </div>
                                        
							</fieldset>
                
                			<div class="row">&nbsp;</div>
                			<div class="input-group row">
                				<div class="col-sm-1">
                                    {{ form_widget(form.btnSave, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
                                </div>
                                
                                {{ form_widget(form.btnCancel, {'attr': {'class': 'btn btn-default', 'id':'btnCancel'}}) }}
                            </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block modals %}
    {% include 'pages/Projects/Modals/browser.html.twig' %}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
   
    {{ encore_entry_script_tags( 'jquery-duplicate-fields', null, 'new-template' ) }}
    {{ encore_entry_script_tags( 'projects-edit', null, 'new-template' ) }}
{% endblock %}

