{% extends "base.html.twig" %}

{% if( item.id ) %}
    {% set pageTitle = 'vs_wct.template.project_edit_title' | trans( {},'WebContentThief' ) ~ ': ' ~ item.title %}
{% else %}
    {% set pageTitle = 'vs_wct.template.project_create_title' | trans( {},'WebContentThief' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ pageTitle }}{% endblock %}

{% block content %}

    {% if applicationEnvironement == 'dev' %}
        <div class="card bg-info text-white shadow">
            <div class="card-body">
              Test URL's:
              <hr />
              <div class="text-white-50 small">Comuter Store: 
                  <a href="https://computer-store.bg/komputri/dell" class="btnTestBrowse">
                      https://computer-store.bg/komputri/dell
                  </a>
              </div>
              <div class="text-white-50 small">JAR Computers: 
                  <a href="https://www.jarcomputers.com/Kompyutri-i-Tableti_cat_1.html?ref=cat" class="btnTestBrowse">
                      https://www.jarcomputers.com/Kompyutri-i-Tableti_cat_1.html?ref=cat
                  </a>
              </div>
            </div>
        </div>
    {% endif %}
    
    {% if item.id %}
        <div class="card">
            <div class="card-body me-auto">
                <button type="button"
                    class="btn btn-primary mr-3 btnDisplayCollector"
                    data-bs-toggle="modal" data-bs-target="#modalCollectorProgress"
                    data-url="{{ detailsUrl }}"
                >
                    {{ 'vs_wct.template.project_collect_data' | trans( {},'WebContentThief' ) }}
                </button>
                
                <button type="button"
                    class="btn btn-primary mr-3 btnCreateMapper"
                    data-bs-toggle="modal" data-bs-target="#modalMapper"
                >
                    {{ 'vs_wct.template.project_create_mapper' | trans( {},'WebContentThief' ) }}
                </button>
            
            {#
                <button type="button" 
                    class="btn btn-primary mr-3"
                >
                    Preview Data
                </button>
                <button type="button" 
                    class="btn btn-primary btnDisplayDeployer"
                    data-bs-toggle="modal" data-bs-target="#modalDeployerProgress"
                >
                    {{ 'vs_wct.template.project_deploy_data' | trans( {},'WebContentThief' ) }}
                </button>
            #}
            </div>
        </div>
    {% endif %}
    
    <div class="row">
        {% if item.id %}
            <div class="col-lg-9">
                <section class="panel panel-default border p-3">
                    <div class="panel-heading border-bottom pb-2 mb-2">{{ 'vs_wct.template.project_details' | trans( {},'WebContentThief' ) }}</div>
                    <div class="panel-body">
                        {% include 'Pages/Projects/Partial/project_form.html.twig' %}
                    </div>
                </section>
            </div>
            <div class="col-lg-3">
                 <section class="panel panel-default border p-3 mb-3">
                    <div class="panel-heading border-bottom pb-2 mb-2">{{ 'vs_wct.template.project_mappers' | trans( {},'WebContentThief' ) }}</div>
                    <div class="panel-body">
                        <table class="table table-striped table-advance table-hover">
                        {% for mapper in item.mappers %}
                            <tr>
                                <td>{{ mapper.title }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-outline-primary repertoryPreview"
                                            href="{{ path('vs_wct_project_mapper_update', {'id': mapper.id}) }}"
                                            title="{{ 'vs_wct.template.edit_mapper' | trans( {},'WebContentThief' ) }}"
                                        >
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </section>
                
                <section class="panel  panel-default border p-3">
                    <div class="panel-heading border-bottom pb-2 mb-2">{{ 'vs_wct.template.project_collector_repertories' | trans( {},'WebContentThief' ) }}</div>
                    <div class="panel-body" style="height: 900px !important;">
                        <table class="table table-striped table-advance table-hover">
                        {% for rep in item.repertories %}
                            <tr>
                                <td>
                                    {{ 'vs_wct.template.project_repertory' | trans( {},'WebContentThief' ) }} - {{ rep.createdAt | date( "d.m.Y H:i:s" ) }}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-outline-primary repertoryPreview"
                                            href="{{ path('vs_wct_project_preview_repertory', {'id': rep.id}) }}"
                                            title="{{ 'vs_wct.template.preview_repertory' | trans( {},'WebContentThief' ) }}"
                                        >
                                            <i class="fas fa-eye" style="color: #be4bdb;"></i>
                                        </a>
                                        <a class="btn btn-outline-primary btnDisplayDeployer"
                                            title="{{ 'vs_wct.template.deploy_repertory' | trans( {},'WebContentThief' ) }}"
                                            data-bs-toggle="modal" data-bs-target="#modalDeployerProgress"
                                            data-repertoryId="{{ rep.id }}"
                                        >
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </section>
            </div>
        {% else %}
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-heading border-bottom pb-2 mb-2">{{ 'vs_wct.template.project_details' | trans( {},'WebContentThief' ) }}</div>
                    <div class="panel-body">
                        {% include 'Pages/Projects/Partial/project_form.html.twig' %}
                    </div>
                </section>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block modals %}
    {% include 'Modals/browser.html.twig' %}
    {% if item.id %}
        {% include 'Modals/collector.html.twig' %}
        {% include 'Modals/deployer.html.twig' %}
        {% include 'Modals/mapper.html.twig' %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/mapper', null, 'WebContentThief' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/projects-edit', null, 'WebContentThief' ) }}
    {{ encore_entry_script_tags( 'js/browser', null, 'WebContentThief' ) }}
    {{ encore_entry_script_tags( 'js/collector', null, 'WebContentThief' ) }}
    {{ encore_entry_script_tags( 'js/deployer', null, 'WebContentThief' ) }}
    {{ encore_entry_script_tags( 'js/mapper', null, 'WebContentThief' ) }}
    
{% endblock %}
