<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}.:: Web Content Thief{% endblock %}</title>

        {% block head_meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock %}

        {% block head_styles %}
            {{ encore_entry_link_tags('css/global') }}
        {% endblock %}

        {% block head_scripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section id="container" class="">
            <header class="header dark-bg">
                <div class="toggle-nav">
                    <div data-placement="bottom" data-original-title="Toggle Navigation" class="icon-reorder tooltips"><i class="icon_menu"></i></div>
                </div>
                <a class="logo" href="{{ path('home') }}">
                    <h1><span style="font-weight: bold;">Web Content Thief</span></h1>
                </a>
                
                <div class="top-nav notification-row">                
                    <!-- notificatoin dropdown start-->
                    <ul class="nav pull-right top-menu">

                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="profile-ava">
                                    <img src="{{ asset('build/img/avatar1_small.jpg') }}" alt="">
                                </span>
                                <span class="username">{{ app.user.username }}</span>
                                <b class="caret"></b>
                            </a>
                            {{ knp_menu_render('profile', {'template': 'menu/menu-top-profile.html.twig'}) }}
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                    <!-- notificatoin dropdown end-->
                </div>
            </header>

            <!--sidebar start-->
            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    {{ knp_menu_render('main', {'template': 'menu/menu.html.twig'}) }}
                </div>
            </aside>
            <!--sidebar end-->
            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header">{% block pageTitle %}{% endblock %}</h3>
                            {% block breadcrumbs %}
                                {{ knp_menu_render('breadcrumbs', {currentClass: 'active','template': 'menu/breadcrumb.html.twig'}) }}
                            {% endblock %}
                        </div>
                    </div>
                    {% block content %}{% endblock %}
                </section>
            </section>  
            <footer class="container-fluid">
                {% block footer %}<p>Footer Text</p>{% endblock %}
            </footer>
        </section>

        {% block endDocumentScripts %}
            <div id="popup"></div>
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
