<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                {{ processor.getTitle() }} <span style="margin-left:60px;">Type:&nbsp;&nbsp;&nbsp;&nbsp;{{ processorType }}</span>
            </a>
        </h2>
        <div class="panel-actions">
            <a class=".btnRunProcessor" href="{{ path('ia_web_content_thief_project_processors_delete', {'id': processor.getId()}) }}" title="Run Processor">run processor</a>
            <a class="btn-close" href="{{ path('ia_web_content_thief_project_processors_delete', {'id': processor.getId()}) }}" title="Remove Processor"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
        <div class="panel-body">
            <div class="fieldsRow">
                <div class="col-sm-7" style="padding-bottom:5px; margin-bottom:15px; border-bottom: 1px solid black;">
                    <div class="col-lg-3">-- Project Field (Source)</div>
                    <div class="col-lg-1" style="text-align: center;">---></div>
                    <div class="col-lg-3">Processor Field (Destination) --</div>
                </div>
            </div>
            <div class="mappingsContainer" data-prototype="{% filter escape %}{% include 'IAWebContentThiefBundle:ProjectProcessors/Form/Collection:row-mapping.html.twig' with {'form': form.mappings.vars.prototype} %}{% endfilter %}">
                
                {% for mapping in form.mappings %}
                    {% include 'IAWebContentThiefBundle:ProjectProcessors/Form/Collection:row-mapping.html.twig' with {'form': mapping} %}
                {% endfor %}
            </div>
            
            <div class="fieldsRow">
                <div class="col-sm-7" style="padding-top:15px; margin-top:5px; border-top: 1px solid black;">
                    <a class="btn btn-primary btnSaveMappings" href="{{ path('ia_web_content_thief_project_processors_save_mappings', {'id': processor.getId()}) }}"> Save Mappings </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.mappingsContainer').duplicateFields({
        btnRemoveSelector: ".btnRemoveMapping",
        btnAddSelector:    ".btnAddMapping"
    });        
</script>

